html {
    background-color: black;
}

h2 {
    color: #a06376;
}

h3 a {
    color: #dbc7ce !important;
}

p a {
    color: #dbc7ce;
}

footer a {
    color: #dbc7ce;
}

p {
    color:#fff7fa !important;
}

@media (max-width: 1024px) {
  
    h4 {
        margin-top: -25px !important;
    }
    
  }